
/* All Pages */

body {
  background-color: #C8F0FD;
}
p {
  color: #642516;
  margin-bottom: 0 !important;
}
em {
  color: #642516;
}
.latoBold {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.a-links {
   color: #642516;
   text-decoration: underline;
  } 
.a-links:hover {
   color: #642516;
  } 

h1 {
  text-align: center; 
  color: #642516 !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9); 
  margin-top: 25px; 
  margin-bottom: 15px; 
  font-size: 9vmin;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  
}

.h3-resources {
  font-size: 7vmin;
  text-align: center; 
  color: #642516 !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9); 
  margin-top: 25px; 
  margin-bottom: 15px; 
  font-weight: bold;
}
#navlogo {
    align-self: left;
    height: 75px;
}
.navbar {
    background-color: #fff;
    color: #FF8000 !important;
}
a.active.nav-link {
    background-color: #04D7F8 !important;
}
/*/
.border-container {
  background-image: url(../img/logos/pattern-long-64.png);
  background-size: cover;
  background-position: bottom;
  height: 40px;
  }
  */
.navbar-text {
    color: #642516
    
}
.navbar-text:hover {
    color: #642516
}
.navbar-toggler {
    background-color: #ff8000;
    border: solid 1px #642516;
}
/*Footer*/
.footer {
    background-color: #FF8D1A;
    width: 100%;
    height: auto;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
 }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  
  /* footer left*/
  #footlogo {
    width: 125px;
    height: 125px;
  }
  .footer .footer-left {
    width: 33%;
    padding-right: 15px;
  }
  
  .footer .about {
    line-height: 20px;
    color: #000;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .about span {
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer .icons {
    margin-top: 25px;
  }
  
  .footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #04D7F8;
    border-radius: 2px;
    font-size: 20px;
    color: #000;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  
  /* footer center*/
  
  .footer .footer-center {
    width: 30%;
  }
  
  .footer .footer-center i {
    background-color: #04D7F8;
    color: #000;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer .footer-center p {
    display: inline-block;
    color: #000;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer .footer-center p a {
    color: #0099ff;
    text-decoration: none;
  }
  
  
  /* footer right*/
  
  .footer .footer-right {
    width: 35%;
  }
  
  .footer h2 {
    color: #000;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer h2 span {
    color: #0099ff;
  }
  
  .footer .menu {
    color: #000;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .menu a:hover {
    color: #0099ff;
  }
  
  .footer .name {
    color: #0099ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      text-align: center;
    }
    .footer .footer-center i {
      margin-left: 0;
    }
  }
  /*/Footer*/

  /*Border
  .border{
    display: inline-block;
    top: 0;
    left: 0;
    height: 25px;
    width: 100%;
    background: url(../img/logos/pattern.svg) bottom center;
    padding: 0px, 0px, 0px, 0px;
    margin: 0;
    border-style: outset;
}
*/


  /*/Border*/
/*/All pages*/

/* Hero page */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;/* Required for full screen */
    overflow: hidden;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,0.65) 100%), url(../img/photos/hero.jpeg) no-repeat center center scroll;
}


/* Buttons on Hero */
#button1 {
    background: #04D7F8;
    transition: background ease .25s;
    border-radius: 25px;
    display: inline-block;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
}

button:hover {
    background: #FF8021;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#button2 {
    background: #04D7F8;
    transition: background ease .25s;
    border-radius: 25px;
    display: inline-block;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
}

button:hover {
    background: #FF8021;;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

/* /Button */
/* /Hero page */
/*Home*/


.mission {
  width: autox;
  height: 350px;
 overflow:hidden;
 position:relative;
}
#mission-text {
  text-align: justify;
}

.imgborder {
  display:inline-block;
  position:relative;
  border:1px solid #ccc;
  padding:5px;
  background:#f2f2f2;
}
.s1 {
   -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
   -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
   box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}

.mission {
  width: autox;
  height: 350px;
 overflow:hidden;
 position:relative;
}

.mission img {
  position: absolute;
  left:-10000%; right: -10000%; 
  top: -10000%; bottom: -10000%;
  margin: auto auto;
  min-width: 1000%;
  min-height: 1000%;
  -webkit-transform:scale(0.1);
  transform: scale(0.1);
}

/*/Home*/

/*About*/
.about-img {
    width: 100%;
    height: 50vh;
    /*background: url('../img/photos/language-justice-training.jpeg');*/
  }

  .b-o-d {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    width: 250px;
    height: 250px;
    }


.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
}


  /*/About*/
/*Staff*/
.staffImg {

  width: 150px;
  height: 150px;
}
.staffName {
  font-size: 22px;
  margin-top: 20px;
  color: #FF8000
}
/*/Staff*/
  /*Our work*/
  /*Accordian*/
  .collapsible-link {
    width: 100%;
    position: relative;
    text-align: left;
}

.collapsible-link::before {
    content: '\f107';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: 'FontAwesome';
    font-size: 1.1rem;
    
}

.collapsible-link[aria-expanded='true']::before {
    content: '\f106';
}
/*/Accordian*/

.our-work-img {
  margin-top: 15px;
  margin-bottom: 15px;
}
  /*/Our work*/

  /*Get involved*/

  /*/Get involved*/

  /*Publications*/

  .sidebar {
    margin-top: 110px;
    margin-bottom: 0; 
    left: 10px; 
    background: rgba(255, 255, 255, 0.25);
  }
.video-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 30px; 
  height: 0; 
  overflow: hidden; 
}

.video-container iframe, .video-container object, .video-container embed { 
  position: absolute; 
  top: 0;
   left: 0;
    width: 100%;
     height: 100%; 
}
  /*/Publications*/

  /*Resources*/
  .resources-img {
    margin-top: -50px;
    width: 100%;
    /*background: url('../img/photos/5th-anniversary-aztec-dance.jpeg');*/
    background-size: cover;
  }
/*/Publications*/
/*Contact us*/

.contact-img {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  -webkit-box-shadow: -6px 8px 5px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    -6px 8px 5px 0px rgba(50, 50, 50, 1);
  box-shadow:         -6px 8px 5px 0px rgba(50, 50, 50, 1);
}
.map-responsive{

  overflow:hidden;

  padding-bottom:56.25%;

  position:relative;

  height:0;

}

.map-responsive iframe{

  left:0;

  top:0;

  height:100%;

  width:100%;

  position:absolute;

}
/*/Contact us*/